@main("Cheers") {

  <div class="row">
    <div class="small-3 small-centered columns">
      <h1>Cheers</h1>
    </div>
    <div class="row">
      <form>
        <div class="large-3 columns">
          <input id="email" type="text" placeholder="Your email"/>
        </div>
        <div class="large-9 columns">
          <div class="row collapse postfix-round">
            <div class="small-10 columns">
              <input id="text" type="text" placeholder="Cheers!">
            </div>
            <div class="small-2 columns">
              <a id="send" class="button postfix">Cheer!</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="cheers-list"></div>
}
