@(title: String)(content: Html)(implicit request: Request[Any])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("lib/foundation/css/foundation.min.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        @helper.javascriptRouter("jsRoutes")(
          routes.javascript.Application.socket
        )
        <script src="@routes.Assets.at("js/app.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
